<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot.css') }}">
</head>
<body>
    <div class="box">
        <h2>Reset Password</h2>

        {% if msg %}
            <p class="msg {% if success %}success{% else %}error{% endif %}">
                {{ msg }}
            </p>
        {% endif %}

        <form method="POST" action="/forgot-password" >
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required>

            <button type="submit">Update Password</button>
        </form>

        <div class="links">
            <a href="{{ url_for('login') }}">Back to Login</a>
        </div>
    </div>
</body>
</html>
